.navbar-nav .nav-item .nav-link{
    font-family: 'Source Sans Pro', sans-serif !important;
}
    .post-header{
    font-family: 'Roboto', sans-serif !important;
}
    
.automation-operator-item {
    background: var(--nav-background) !important;
    border-radius: 1rem !important;
}

.operator-name {
    color: var(--operator-name);
}

.operator-column-ranking {
    border-radius: 1rem 0 0 !important;
    background: var(--numbering-background) !important;
    color: white !important;
}

.operator-write-up {
    border: 2px solid white;
    color: rgb(239, 231, 231);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.operator-play-now {
    background: var(--body-background);
    border-radius: 0 0 0 0;

}

.operator-play-now:hover {
    background: var(--link-hover-background);
}

.learn-more-btn {
    background: var(--btn-background);
    color: black !important;
}

.learn-more-btn:hover {
    background: var(--btn-hover);
    opacity: 1;
}
.navbar-nav .nav-item .nav-link{
font-family: 'Source Sans Pro', sans-serif !important;
}
.market-data{
border: 0 !important;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
.inp{
    border: none;
    outline: none;
    background: #e6e6e6;
    border-radius: .5rem;
} 
.fa-times{
    color: red !important;
}
.left-nav a{
    border: none;
    /* background-color: red; */
    border-top: none;
    padding: .3rem;
}
.left-nav nav-item {
    background-color: transparent;
    border-radius: 1rem;
    /* border: 1px solid #e9ecef !important; */
    /* background-color: #F0B90B; */
}
.left-nav nav-item:hover{
    background: #efebe9;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}
.card{
    height:max-content;
}
